<!DOCTYPE html>
<html>
  <head>
    <title>Ash's TTS Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class= 'container'>
  		<div class="row">
    		<ul class='nav nav-tabs'>
    		<li role="presentation" class= "pull-left">
    			<%= link_to "Posts", posts_path, class: "btn btn-warning" %>
    		</li>
    		<li role="presentation" class= "pull-left">
    			<%= link_to "New Post", new_post_path, class: "btn btn-success"%>
    		</li>
         <li role="presentation" class="pull-left">
          <% if user_signed_in? %>
           <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %></li>
          <!--havent created the view for this so the link doesnt look good<li role="presentation" class="pull-right">
         <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>-->      
          <% end %>
    		</li>
        </ul>
      </div>
 	    <div class="row content">
   		 <%= yield %>
      </div>
    </div> 
  </body>
</html>
